@model List<UserRole>
@{
    var roleId = ViewBag.roleId;
    var roleName = ViewBag.roleName;
    ViewData["Title"] = "Users In Role '" + roleName + "'";
}

<h1>@ViewData["Title"]</h1>
<form method="post" action="AddUserInRole">
    <input type="hidden" name="roleId" value="@roleId"/>
    <label for="RoleName">Users not in role: </label>
    <select asp-items="ViewBag.NotInRoleUsers" name="addUserId"></select>
    <button type="submit" value="CreateRole">Add to Role</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Model[i].UserName
                </td>
                <td>
                    @Model[i].UserEmail
                </td>
                <td>
                    <a asp-action="RemoveUserInRole" asp-route-removeUserId="@Model[i].UserId" asp-route-roleId="@roleId">Delete Role</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a asp-action="ListRole">Return to Role list</a>

@*<script type="text/javascript">
$(function() {
    $('dosubmit').click(function(e) {
        e.preventDefault();
        $(this).parents('form').first().submit();
    });
});
</script>*@
